name: Discord Commit Notify
on:
  push:
    branches:
      - main
jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Send commit info to Discord
        uses: Ilshidur/action-discord@master
        with:
          args: |
            **${{ github.actor }}** pushed to `${{ github.repository }}`
            Commit: ${{ github.event.head_commit.message }}
            URL: <${{ github.event.head_commit.url }}>
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
